.stat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 196px;
   /* display: none;*/
}

.stat-item{
    display: flex;
    align-items: center;
}
.stat-item__icon{
    background-color: rgba(var(--white-rgb),0.1);
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-position: center center;

}
.stat-item__icon--01{
    background-image: url(../img/icon01.svg);
}
.stat-item__icon--02{
    background-image: url(../img/icon02.svg);
}
.stat-item__icon--03{
    background-image: url(../img/icon03.svg);
}
.stat-item__text{
    color: #E0E0E0;
    margin: 0;
}

.stat-item__text span {
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 15px;
}

.text{
    text-align: center;
    padding-bottom: 60px;
}

.text__title{
    font-size: 40px;
    font-weight: 700;

}


@media (max-width: 678px){
    .stat{
        flex-wrap: wrap;
    }

    .stat-item{
        line-height: 20px;
        margin-top: 10px;
    }

    .stat-wrapper{
        padding-top: 0;
    }
}


@media (max-width: 570px){
    .stat{
        justify-content: flex-start;
    }
    .stat{
        margin: 0 auto;
        width: 90%;
    }

    .stat-item{
        margin-top: 40px;
        width: 100%;
    }
}
